<!-- wp:template-part {"slug":"header","theme":"solar-power-energy","tagName":"header","className":"home-header-class"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">

<!-- wp:pattern {"slug":"solar-power-energy/banner"} /-->

<!-- wp:pattern {"slug":"solar-power-energy/about-us"} /-->

<!-- wp:pattern {"slug":"solar-power-energy/latest-news"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"solar-power-energy","tagName":"footer","className":"home-footer-class"} /-->